body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Below this, added for SpellChecker*/
.word-right {
    border:2px solid green;
    background-color: lightgray;
}
.word-wrong {
    border:2px solid red;
    background-color: lightgray;
}
#sticky {
    width: 30%;
    border-radius: 6px;
    border: 1px solid black;
    z-index: 10;
    position: fixed;
    right: 20px;
    top: 100px;
    padding: 10px;
    margin :5px;
}
