@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Spelling Bee Practice</h1>
    <p class="lead">Check out the stats, the words and much more.</p>
    <p>@Html.ActionLink("Statistics", "Index", "Stats")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Spelling Bee Competitions</h2>
        <p>
            A spelling bee is a competition in which contestants are asked to spell a broad selection of words,
            usually with a varying degree of difficulty. The concept is thought to have originated in the United States,
            and spelling bee events, along with variants, are now also held in some other countries around the world.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Spelling_bee" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search Google</h2>
        <p>Read more about Spelling bee.</p>
        <p><a class="btn btn-default" href="https://www.google.se/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=spelling%20bee" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>