@model SpellChecker.Models.TestResultViewModel

@{
    ViewBag.Title = "Test result";
}

<h2>Test Result</h2>

<div>
    <h4>SpellViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RightPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightPercentage)&nbsp;@Html.Raw("<span>%</span>")
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Test selection", "Index", "Spell")
</p>
